services:
  - type: web
    name: launchpad-app
    env: node
    buildCommand: yarn install && yarn build
    startCommand: yarn start
    envVars:
      - key: NODE_ENV
        value: production
    healthCheckPath: /api/health

